@-ms-viewport{
  width: device-width;
}
.header{
    width:1280px;
}
.main{
    width:1280px;
}
body:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 100%;
	opacity: 0.1;
	z-index: -1;
	background-image: url('../img/back.png');
}

body{
    width: 1280px;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	font-family: 'Oswald';
	position: relative;

}
.clear{
	clear: both;
}



.container{
	width:  75%;
	margin: 0 auto;
	position: relative;
}
[class^=col-]{
	float: left;
	box-sizing: border-box;
}
.col-half{
	width: 50%;
	padding-left: 13px;
}
.col-third,.col-third1{
	width: 33.33%;
	margin-top: 40px;
	padding-left: 13px;
    padding-right: 5px;
}
.clients-panel{
	width: 100%;
	display: inline-block;
	margin-top: 32px;
}
.footer{
	width: 1280px;
	height: 112px;
	background-color: #7e7e7e;
	margin-top: 3%;
	padding-bottom: 13px;
}
.twitter{
	width: 31.25%;
	display: inline-block;
}
.sitemap{
	width: 148px;
	display: inline-block;
	margin-left: 20px;
	position: absolute;
	margin-right: 20px;
}
.social-networks{
	width: 149px;
	display: inline-block;
	position: absolute;
	left: 50.6%;
}
.copyright{
	width: 327px;
	float: right;
}
.header{
	margin-bottom: 30px;
}
.top-bar .logo{
	float: left;
}
.top-bar .search{
	float: right;
}
.top-bar{
	padding: 25px 0;
}
.top-bar .search input[type=text]{
	box-sizing: border-box;
	height: 33px;
	padding: 0 10px;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}
.top-bar .search button{
	box-sizing: border-box;
	background-color: #29c5e6;
	height: 33px;
	border: none;
	color: #fff;
}
.top-bar .search button:hover{
	background-color: #f3f3f3;
	color: #000;
	-webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.nav ul li{
	display: table-cell;


}
.nav ul{
	list-style: none;
	background-color: #e7e7e7;
	display: table;
	width: 100%;
	background-color: #f3f3f3;
	text-decoration: none;
	text-transform: uppercase;
}
.nav ul li a{
	padding: 10px 20px;
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	color: #b2b2b2;
}
.nav ul li a:hover{
	color: #fff;
	background-color: #29c5e6;
	transition: 0.6s color;
	-webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;


}
.slider{
	position: relative;
	padding-bottom: 30px;
}
.slider .slide{
	background-color: #e2e2e2;
	padding: 40px;
	height: 280px;
	display: none;

}
.slider .slide h2{
	color: #5a5a5a;
	font-size: 2.5em;
	font-weight: 300;
	text-transform: uppercase;
}
.slider .slide p.subtitle{
	color: #acacac;
	font-size: 1.25em;
	font-weight: 300;

}
.slider input[type=radio]:checked + label + div{
	display: block;

}
.slider input[type=radio]{
	display: none;
}
.slider{
	background-color: #f3f3f3;
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 30px;

}
img{
    max-width:100%;
}
label{
	text-transform: uppercase;
	padding-left: 36px;
	position: absolute;
	top: 100%;
	margin-left: 3%;
	margin-top: -4%;
	color: #8f8f8f;
	font-size: 15px;
}
label:before{
	content: attr(title);
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #8f8f8f;
	display: inline-block;
	left: 0;
	top: 50%;
	margin-top: -12px;
	color: #fff;
	text-align:center;
	line-height: 24px;
}
.slider input[type=radio]:checked + label{
	color: #29c5e6;
}
.slider input[type=radio]:checked + label:before{
	background-color:  #29c5e6;
}
label[for=first]{
	left: 5px;
}
label[for=second]{
	left: 25%;
}
label[for=third]{
	left: 50%;
}
label[for=fourth]{
	left: 75%;
}
div.heading{
	position: relative;
	text-transform: uppercase;
	overflow: hidden;
}
div.heading h3{
	position: relative;padding-left: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color:  #7e7e7e;
}
div.heading-footer h3{
	color: #f8f8f8;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
    padding-top: 16px;
}
div.heading h3:before{
	content: "";
	width: 15px;
	height: 15px;
	background-color: #29c5e6;
	position: absolute;left: 0;
	top: 50%;
	margin-top: -7.5px;


}
div.heading h3:after{
	content: "";
	width: 100%;
	display: inline-block;
	height: 15px;
    position: absolute;
    margin-left: 10px;
    background: url('https://www.pythonanywhere.com/user/yan1906/files/home/yan1906/img/header-bg.png') repeat-x;
    margin-top: 5px;
}
div.content-wrapper p.main-text{
	color: #8f8f8f;
	font-size: 12px;
}
div.img-wrapper img{
	float: left;
	display: inline-block;
	padding-right: 19px;
}
div.content-wrapper span a.more, p.more{
	color: #525252;
	font-size: 12px;
	line-height: 62px;
}
div.img-wrapper1 img{
	float: left;
	display: inline-block;
	padding-right: 11px;
}
div.col-third1 div.content-wrapper p.main-text-header{
	font-size: 11px;
	color: #525252;

}
div.col-third1 div.content-wrapper p.main-text{
	font-size: 10px;

}
div.clients-panel div.img-wrapper img{
	margin-left: 3.125%;
}
div.heading-footer{
	margin-left: 13px;
	border-bottom: 1px solid #919191;
}
div.content-wrapper-footer{
	margin-left: 13px;
	padding-top: 10px;
}
div.content-wrapper-footer p.datetext-footer{
	font-size: 11px;
    color: #b4aeae;
    text-decoration: underline;
    padding-top: 10px;
    font-family: tahoma;
}
div.content-wrapper-footer p.main-text-footer{
	font-size: 11px;
    font-family: tahoma;
    color: #d0d0d0;
    padding-top: 8px;
    margin-right: 21px;
}
div.content-wrapper-footer p.links{
	width: 50%;
	float: left;
	font-size: 12px;
    font-family: tahoma regular;
    line-height: 10px;
    padding-top: 10px;

}
div.content-wrapper-footer p.links a{
	color: #dbdbdb;
	text-decoration: none;
}
div.img-wrapper-footer, div.img-wrapper-footer1{
	padding-top: 11px;
    margin-left: 13px;
}
div.img-wrapper-footer a, div.img-wrapper-footer1 a{
	text-decoration: none;
}
div.img-wrapper-footer img{
	padding-right: 3px;
}
div.img-wrapper-footer1 img{
	padding-right: 2.3px;
}
div.img-wrapper-footer img:hover{
	width: 35px;
	height: 35px;

}
div.img-wrapper-footer1 img:hover{
	width: 20px;
	height: 20px;

}
div.logo-footer{
	float: right;
	padding-top: 24px;
}
div.content-wrapper-footer43{
	display: inline-block;
    margin-left: 38%;
}
div.content-wrapper-footer43 p{
	font-family: tahoma regular;
    font-size: 10px;
    color: #dbdbdb;
}
div.content-wrapper-footer43 span{
	text-decoration: underline;
}
