body{
	border-top: 5px solid #7e7e7e;
	margin: 0;
	font-family: 'Oswald';
	/*background-image: url("../img/back.png");
*/
}
.clear{
	clear: both;
}


.container{
	width:  960px;
	margin: 0 auto;
}
[class^=col-]{
	float: left;
	box-sizing: border-box;
}
.col-half{
	width: 50%;
}
.col-third{
	width: 33.33%
}
.header{
	margin-bottom: 30px;
}
.top-bar .logo{
	float: left;
}
.top-bar .search{
	float: right;
}
.top-bar{
	padding: 25px 0;
}
.top-bar .search input[type=text]{
	box-sizing: border-box;
	height: 33px;
	padding: 0 10px;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}
.top-bar .search button{
	box-sizing: border-box;
	background-color: #29c5e6;
	height: 33px;
	border: none;
	color: #fff;
}
.top-bar .search button:hover{
	background-color: #f3f3f3;
	color: #000;
}
.nav ul li{
	display: table-cell;
	
	
}
.nav ul{
	list-style: none;
	background-color: #e7e7e7;
	display: table;
	width: 100%;
	background-color: #f3f3f3;
	text-decoration: none;
	text-transform: uppercase;
}
.nav ul li a{
	padding: 10px 20px;
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	color: #b2b2b2;
}
.nav ul li a:hover{
	color: #fff;
	background-color: #29c5e6;
	transition: 0.6s color;

}
.slider{
	position: relative;
	padding-bottom: 30px;
}
.slider .slide{
	background-color: #e2e2e2;
	padding: 40px;
	height: 280px;
	display: none;

}
.slider .slide h2{
	color: #5a5a5a;
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
}
.slider .slide p.subtitle{
	color: #acacac;
	font-size: 20px;
	font-weight: 300;

}
.slider input[type=radio]:checked + label + div{
	display: block;
}
.slider input[type=radio]{
	display: none;
}
.slider{
	background-color: grey;
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 30px;
}
label{
	text-transform: uppercase;
	padding-left: 36px;
	position: absolute;
	top: 100%;
	margin-left: 5%;
	margin-top: -4%;
}
label:before{
	content: attr(title);
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #8f8f8f;
	display: inline-block;
	left: 0;
	top: 50%;
	margin-top: -12px;
	color: #fff;
	text-align:center;
	line-height: 24px;
}
.slider input[type=radio]:checked + label{
	color: #29c5e6;
}
.slider input[type=radio]:checked + label:before{
	background-color:  #29c5e6;
}
label[for=first]{
	left: 5px;
}
label[for=second]{
	left: 25%;
}
label[for=third]{
	left: 50%;
}
label[for=fourth]{
	left: 75%;
}
div.heading h3{
	position: relative;padding-left: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
div.heading h3:before{
	content: "";
	width: 15px;
	height: 15px;
	background-color: #29c5e6;
	position: absolute;left: 0;
	top: 50%;
	margin-top: -7.5px;


}
div.heading h3:after{
	content: "";
	width: auto;
	height: 15px;
	background-color: aqua;
}